body {
    background-image:linear-gradient( 90deg,rgb(226, 209, 209), rgb(88, 88, 88);
font-family: Calibri, helvetica, sans-serif  
}
    h1 {
    color: blue;
  }
  p {
    color: rgb(29, 28, 28);
  }